<MudAppBar Style="@($"background:{Colors.Shades.Black};")" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Style="@($"color:{Colors.Yellow.Accent4};")" aria-label="back" Edge="Edge.Start" />
    <MudSpacer />
    <MudIconButton Icon="@Icons.Filled.ViewHeadline" Style="@($"color:{Colors.Yellow.Accent4};")" />
</MudAppBar>
<div style="@($"color:{Colors.Shades.White}; background:{Colors.Shades.Black};")">
    @Body
</div>
            
